.contents-total__box1
  現在の支援総額
.contents-total__box2
  - @billings.each do |billing| 
    - total1 = @billings.sum(:count_1)
    - total2 = @billings.sum(:count_2)
    - total3 = @billings.sum(:count_3)
    - @total = total1*@project.return_price_1+total2*@project.return_price_2+total3*@project.return_price_3 
    =@total
    円
.contents-pacent
  .contents-pacent__box1
    進捗率
  .contents-pacent__box2
    = number_to_percentage(@total.to_f/@project.target_amount*100,precision: 1)