* {
  box-sizing: border-box;
}

.Header {
  position: absolute;
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: rgb(43, 49, 55);
  opacity: 0.9;
  display: flex;
  justify-content: flex-end;
  &__user{
    display: flex;
    justify-content: flex-end;
    
    &__name{
    color: #ffffff;
    display: inline-block;
    line-height: 50px;
    display: inline;
    font-size: 18px;
    }
    &__icon{
    width: 30px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    margin-right: 60px;
    }
    &__btn{
      &__login{
      margin: 0 60px 0 30px;
    }
      &__project{
      font-size: 10px;
    }
      &__patorn{
      font-size: 10px;
    }
    }
  }
}

.btn{
  color: #ffffff;
  width: 100px;
  line-height: 50px;
  text-decoration: none;
  background-color: rgb(80, 86, 91);
  display: inline-block;
  text-align: center;
  font-size: 12px;
}

.icon{
  color: #ffffff;
}

.phot__image--background{
  width: 100vw;
  opacity: 0.5;
 

}

.expect{
  background: rgb(156, 162, 168,);
  opacity: 0.7;
  position: absolute;
  top:200px;
  left:380px;
  height: 400px;
  width: 850px;
  color: #ffffff;
  &__title{
    font-size: 35px;
    margin-bottom: 20px;
  }
  &__body{
    font-size: 20px;
  }
  &__ask{
    padding-top: 40px;
    font-size: 20px;
  }
}

.Tag{
  background-color:rgb(115, 112, 107) ;
  opacity: 0.8;
  height: 50px;
  width: 100%;
  border: 3px solid #ffffff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  line-height: 50px;
  font-size: 24px;
  opacity: 0.8;
}

.Select{
  height: 50px;
  border-bottom: 1px dotted rgb(217, 215, 212);
  margin-bottom: 50px;
}

.select{
  text-decoration: none;
  color: rgb(115, 112, 107);
  font-size: 18px;
  display: inline-block;
  margin: 15px;

}

.Projects{
  display: inline-block;
  text-align: center;
  border: 1px solid rgb(217, 215, 212);
  width: 400px;
  height: 435px;
  margin: 10px;
  background-color: #f9f7f7;
  opacity: 0.9;
}

.Box1{
  width: 100%;
  height: 250px;
  background-color: #e8e6df;
  &__image{
    width: 95%;
    height: 90%;
    margin-top: 10px;
  }
}

.Box2{
  border: 1px solid rgb(217, 215, 212);
  background-color: #ffffff;
  width: 100%;
  height: 135px;
  &__title{
    text-align: center;
    border-bottom: 1px solid rgb(217, 215, 212);
    width: 100%;
    height: 75px;
    line-height: 25px;
    font-size: 15px;
    background-color: #ffffff;
  }
  &__percent{
    margin-top: 3px;
    //border: 1px solid rgb(217, 215, 212);
    height: 60px;
    line-height: 25px;
    background-color: #ffffff;
  }
  }
    

  

.Details{
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  background-color: #e8e6df;
  height: 50px;
  
}
.detail{
  //display: inline-block;
  text-align: center;
  width: 33%;
  height: 50px;
  border-bottom: 1px solid rgb(217, 215, 212);
  background-color: #ffffff;
  //padding-top: 5px;
}

.Contents{
  color: rgb(101, 99, 95);
  &__expect{
    margin-left: 20px;
    margin-bottom: 30px;

    &__title{
      font-size: 28px;
      margin-bottom: 5px;
    }
  }
  &__projects{
    background-color: rgb(243, 240, 240);
    height: 1000px;
  }
  
}
